body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.page-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    background-color: #f0f0f0;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
}

.titleSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSideBar h2, .titleSideBar h3, .titleSideBar h4 {
    margin: 0.3em 0;
}

.right-section {
    background-color: #e0e0e0;
    margin-left: 30%;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.sidebar-menu a:hover {
    background-color: #ddd;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    z-index: 999;
}

@media (max-width: 425px) {
    .left-section {
        width: 100%;
        height: auto;
        position: relative;
    }

    .right-section {
        margin-left: 0;
    }
}

/*MENU PRINCIPAL*/

.recursosMenu {
    display: flex;
    justify-content: space-around;
}

.imgmenu {
    height: 200px;
}

/*PARTICLES*/

#particles-js {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
